<h1>Stupid Coach</h1>
<form action="/answer">
  <label for="question">Ask your coach anything:</label>
  <br>
  <input type="text" class="col-form-label" name="question" placeholder="what time is it?">
  <input type="submit" class="btn btn-primary" value="Ask">
</form>
